@import "tailwindcss";

@theme {
  --font-sans: "GT America", "GT America Trial", sans-serif;
  --font-mono: "GT America Mono", "GT America Mono Trial", monospace;
}

.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
